<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>PosterBoard</title>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
		<link rel="stylesheet" href="posterboard.css" type="text/css" media="all" />
		<link rel="stylesheet" href="colorbox.css" type="text/css" media="all" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
		<script type="text/javascript" src="posterboard.js"></script>
		<script type="text/javascript" src="jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="raphael-min.js"></script>
	</head>
	<body>
		<div id="board">
			<div id="boardContent">
				<div id="calendarViewContainer">
					<div id="leftCalendarPanel">
						<img src="images/arrow-left.png" />
						<div style="clear: both";></div>
						<div id="posterDatePicker"></div>
					</div>
					<div id="centerCalendarPanel">
						<table style="width:100%;" id="panelTable">
							<tr>
								<td>
								<div class="dateLabel">
									<span id="wday1">Sun</span>
									<span id="day1">20</span>
									<span id="month1">April</span>
								</div></td>
								<td>
								<div class="dateLabel">
									<span id="wday2">Mon</span>
									<span id="day2">21</span>
									<span id ="month2">April</span>
								</div></td>
								<td>
								<div class="dateLabel">
									<span id = "wday3">Tues</span>
									<span id="day3">22</span>
									<span id="month3">April</span>
								</div></td>
								<td>
								<div class="dateLabel">
									<span id="wday1">Wed</span>
									<span id="day1">23</span>
									<span id="month1">April</span>
								</div></td>
								<td>
								<div class="dateLabel">
									<span id="wday2">Thurs</span>
									<span id="day2">24</span>
									<span id ="month2">April</span>
								</div></td>
								<td>
								<div class="dateLabel">
									<span id = "wday3">Fri</span>
									<span id="day3">25</span>
									<span id="month3">April</span>
								</div></td>
								<td>
								<div class="dateLabel">
									<span id = "wday3">Sat</span>
									<span id="day3">26</span>
									<span id="month3">April</span>
								</div></td>
							</tr>
							<tr>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster1.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster2.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster3.jpg" />
									<br/>
									<br/>
								</div></td>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster4.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster5.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster6.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster10.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster1.jpg" />
									<br/>
									<br/>
								</div></td>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster7.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster8.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster9.jpg" />
									<br/>
									<br/>
								</div></td>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster1.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster2.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster3.jpg" />
									<br/>
									<br/>
								</div></td>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster4.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster5.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster6.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster10.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster1.jpg" />
									<br/>
									<br/>
								</div></td>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster7.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster8.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster9.jpg" />
									<br/>
									<br/>
								</div></td>
								<td>
								<div class="datePosterCol">
									<img class="thumbnail" src="images/Poster7.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster8.jpg" />
									<br/>
									<br/>
									<img class="thumbnail" src="images/Poster9.jpg" />
									<br/>
									<br/>
								</div></td>
							</tr>
						</table>
					</div>
					<div id="rightCalendarPanel">
						<img src="images/arrow-right.png" />
					</div>
					<div style="clear: both"></div>
				</div>
				<div id="similarViewContainer">
					<div id="originalImages">
						<img class="thumbnail" data-tags="cultural" src="images/Poster1.jpg"/>
						<img class="thumbnail" data-tags="talk,csail" src="images/Poster2.jpg"/>
						<img class="thumbnail" data-tags="social" src="images/Poster3.jpg"/>
						<img class="thumbnail" data-tags="cultural" src="images/Poster4.jpg"/>
						<img class="thumbnail" data-tags="talk" src="images/Poster5.jpg"/>
						<img class="thumbnail" data-tags="social" src="images/Poster6.jpg"/>
						<img class="thumbnail" data-tags="cultural" src="images/Poster7.jpg"/>
						<img class="thumbnail" data-tags="cultural" src="images/Poster8.jpg"/>
						<img class="thumbnail" data-tags="cultural" src="images/Poster9.jpg"/>
						<img class="thumbnail" data-tags="social" src="images/Poster10.jpg"/>
					</div>
					<div id="clusteredImages"></div>
				</div>
				<div id="addContainer">
					<!--Tristan-->
					<div class="upload_form_cont">
		                <form id="upload_form" enctype="multipart/form-data" method="post" action="upload.php">
		                    <div>
		                        <div><label for="image_file">Please select image file</label></div>
		                        <div><input type="file" name="image_file" id="image_file" onchange="fileSelected();" /></div>
		                    </div>
		                    <div>
		                        <input type="button" value="Upload" onclick="startUploading()" />
		                    </div>
		                    <div id="fileinfo">
		                        <div id="filename"></div>
		                        <div id="filesize"></div>
		                        <div id="filetype"></div>
		                        <div id="filedim"></div>
		                    </div>
		                    <div id="error">You should select valid image files only!</div>
		                    <div id="error2">An error occurred while uploading the file</div>
		                    <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
		                    <div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div>
		
		                    <div id="progress_info">
		                        <div id="progress"></div>
		                        <div id="progress_percent">&nbsp;</div>
		                        <div class="clear_both"></div>
		                        <div>
		                            <div id="speed">&nbsp;</div>
		                            <div id="remaining">&nbsp;</div>
		                            <div id="b_transfered">&nbsp;</div>
		                            <div class="clear_both"></div>
		                        </div>
		                        <div id="upload_response"></div>
		                    </div>
		                </form>
		
		                <img id="preview" />
		            </div>
					<!--/Tristan-->
				</div>
				<div class="push"></div>
			</div>
			<div id="viewSwitcherContainer">
				<a id="calendarViewButton" href="#" class="activeView">Calendar View</a> | <a id="similarViewButton" href="#">Similar events view</a>
				<a id="addButton" href="#">+</a>
				<div style='display:none'>
					<div id="focusedPoster">
						<div id="focusedPosterImage"></div>
						<div id="canvasContainer" style="position: absolute"></div>
						<div id="focusedPosterInteraction">
							<img src="images/thumbsup.jpg" />
							<img src="images/thumbsdown.jpg" />
							<img src="images/calendar.jpg" />
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>