/*Skeleton*/
#board {
	border: 1px solid black;
	width: 100%;
	height: 100%;
}
#boardContent {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
#viewSwitcherContainer a {
	margin-right: 5px;
	margin-left: 5px;
}
#viewSwitcherContainer, .push {
	height: 4em;
}
#addButton {
	float: right;
}
#addContainer {
	border: 1px solid blue;
}
.ui-dialog {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
#calendarViewContainer {
	display: none;
}
.ui-dialog-titlebar {
	display: none;
}
.thumbnail:hover{
	padding: 1px;
	border: 2px solid #AAA;
	z-index: 5000; 
}
.ui-widget-overlay{
	background-color: #000;
	opacity: 0.5;
}
/*Calendar view styles*/

/*Similar events styles */
#similarViewContainer img {
	margin: 10px;
}
#similarViewContainer #clusteredImages {
	position: relative;
}
#similarViewContainer .clusterLabel {
	position: absolute;
	background: #000;
	color: #FFF;
	opacity: 0.5;
	padding: 10px;
	border-radius: 5px;
}
#similarViewContainer #originalImages {
	display: none;
}
/*Add poster styles*/
