#board {
	border: 1px solid black;
	width: 100%;
	height: 100%;
}
#boardContent {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
#viewSwitcherContainer a {
	margin-right: 5px;
	margin-left: 5px;
}
#viewSwitcherContainer, .push {
	height: 4em;
}
#addButton {
	float: right;
}
#addContainer {
	border: 1px solid blue;
}
.ui-dialog {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
#similarViewContainer{
	display: none;
}
