<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PosterBoard</title>
        <link rel="stylesheet" type="text/css" href="poster_board_style.css" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			var days = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
		  	var months = ["Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
			$("#test").datepicker({
		  	onSelect: function(dateText, inst) { 
		      var today = $("#test").datepicker("getDate");
		  	var curr_date = today.getDate();
			  var curr_day = today.getDay();
			  var curr_month = today.getMonth();
			  $("#day1").html(curr_date);
			  $("#wday1").html(days[curr_day]);
			  $("#month1").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day2").html(curr_date);
			  $("#wday2").html(days[curr_day]);
			  $("#month2").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day3").html(curr_date);
			  $("#wday3").html(days[curr_day]);
			  $("#month3").html(months[curr_month]);
		   }
		  }
		);
		  		var today = $("#test").datepicker("getDate");
		  	  var curr_date = today.getDate();
			  var curr_day = today.getDay();
			  var curr_month = today.getMonth();
			  $("#day1").html(curr_date);
			  $("#wday1").html(days[curr_day]);
			  $("#month1").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day2").html(curr_date);
			  $("#wday2").html(days[curr_day]);
			  $("#month2").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day3").html(curr_date);
			  $("#wday3").html(days[curr_day]);
			  $("#month3").html(months[curr_month]);
	  
	  $("#calender-back").click(function(){
		  	var today = $("#test").datepicker("getDate");
		  	today = new Date(today.getTime() - (3 * 24 * 60 * 60 * 1000));
		  	$("#test").datepicker("setDate", today)
			  var curr_date = today.getDate();
			  var curr_day = today.getDay();
			  var curr_month = today.getMonth();
			  $("#day1").html(curr_date);
			  $("#wday1").html(days[curr_day]);
			  $("#month1").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day2").html(curr_date);
			  $("#wday2").html(days[curr_day]);
			  $("#month2").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day3").html(curr_date);
			  $("#wday3").html(days[curr_day]);
			  $("#month3").html(months[curr_month]);
		  })
		  
		  $("#calender-next").click(function(){
		  	var today = $("#test").datepicker("getDate");
		  	today = new Date(today.getTime() + (3*24 * 60 * 60 * 1000));
		  	$("#test").datepicker("setDate", today)
			  var curr_date = today.getDate();
			  var curr_day = today.getDay();
			  var curr_month = today.getMonth();
			  $("#day1").html(curr_date);
			  $("#wday1").html(days[curr_day]);
			  $("#month1").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day2").html(curr_date);
			  $("#wday2").html(days[curr_day]);
			  $("#month2").html(months[curr_month]);
			  today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
			  curr_date = today.getDate();
			  curr_day = today.getDay();
			  curr_month = today.getMonth();
			  $("#day3").html(curr_date);
			  $("#wday3").html(days[curr_day]);
			  $("#month3").html(months[curr_month]);
		  })
		});
		</script>

    </head>
    <body style="font-family: Georgia, Times, serif">
    	<h2 align="center">Poster Board</h2>
    	
    	<table style="margin-right:30%;margin-left:5%;text-align: center">
    		<tr>
    			<td>
    				<table>
    					<tr>
    						<td style="position:absolute; bottom: 30%; left: 1%">
    							<img id="calender-back" height="50px" src="arrow-left.png" />
    						</td>
    					</tr>
    				</table>
    			</td>
        		<td>
        			 <table style="width:1000px;margin-right:auto;margin-left:auto;text-align: center">
			        	<tr style="font-size:20px">
			        		
			        		<td align="center" style="width:20%">
			        			<div style="width:50%;border-width:1; border-style:solid; font-size: 50px">
			        				<span id="day1" style="width:80%">23</span><br /> 
			        				<span id="month1" style="font-size: 20px">April</span><br />
			        				<span id="wday1" style="font-size: 35px">MON</span>
			        				</div>
			        			<br />
			        		</td>
			        		<td align="center" style="width:20%">
			        			<div style="width:50%;border-width:1; border-style:solid; font-size: 50px">
			        				<span id="day2" >24</span> <br /> 
			        				<span id ="month2" style="font-size: 20px">April</span><br />
			        				<span id="wday2" style="font-size: 35px">TUE</span>
			        				</div>
			        			<br />
			        		</td>
			        		<td align="center" style="width:20%">
			        			<div style="width:50%;border-width:1; border-style:solid; font-size: 50px" align="center">
			        				<span id="day3" style="width:80%" >25</span> <br /> 
			        				<span id="month3" style="font-size: 20px">April</span><br />
			        				<span id = "wday3" style="font-size: 35px">WED</span></div>
			        			<br />
			        		</td>
			        	</tr>
			        	<tr>
			        		
			        		<td>
			        			
			        			<div style="position:absolute;width:20%;height:100%;background-color:#ffffff;overflow:auto;">
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        			</div>
			        		</td>
			        		<td>
			        			<div style="position:absolute;width:20%;height:100%;background-color:#ffffff;overflow:auto;">
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        			</div>
			        		</td>
			        		<td>
			        			<div style="position:absolute;width:20%;height:100%;background-color:#ffffff;overflow:auto;">
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        				<img class="poster" src="Manasi3.jpg" /><br/><br/>
			        			</div>
			        		</td>
			        	</tr>
			        </table>

        		</td>
        		<td>
    				<table>
    					<tr valign="top">
    						<td style="position:absolute; bottom:30%; right: 1%" valign="top">
    							<div id="test"></div><br /><br /><br /><br /><br /><br /><br />
    						</td>
    						<td style="position:absolute; bottom:30%; right: 21%" valign="top">
    							<img id="calender-next" height="50px" src="arrow-right.png" />
    						</td>
    					</tr>
    				</table>
    			</td>
    		</tr>
    		
    	</table>
        <br /><br />
        
    </body>
</html>
