button {
	font-size:16px;
	font-family: Georgia, Times, serif;
}

#footer {
	position:fixed;
	bottom:0px;
	right:0px;
	background-color: #25B262;
	
}

.poster {
	width:80%;
	border-style:solid;
	border-width: 1px;
}

.views {
	float:left;
	width:250px;
}
